<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
    body {background-color: grey;}
    h1 {color: grey;}
    .formlogin {background-color: aquamarine;
                position: absolute;
                left:25%;
                top: 25%;
                width:50%;
                height:25%;
                border-radius: 10px;}
    .formlogin textarea {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 8px;
    box-sizing: border-box;
    }
            
</style>
</head>
<body>

<form action="/home" class="formlogin">
    <h1>LOGIN</h1>

    <label for="date"><textarea class="usern" name="username" rows="1"></textarea></label>
    <textarea class="passw" name="password" rows="1"></textarea>
    <button>submit</button>


</form>

</body>
</html> 